<div class="container m-auto p-5 bg-light">
<<<<<<< Updated upstream
  <form action="/restaurants" method="POST" autocomplete="off">
    <div class="row">
      <div class="col-4">
        <label for="exampleFormControlInput1">這家餐廳叫什麼呢？</label>
        <input type="text" class="form-control" placeholder="中文名稱" name="name" id="exampleFormControlInput1" required>
      </div>
      <div class="col-8">
        <label for="exampleFormControlInput2">Ｗhat is the name of the restaurant?</label>
        <input type="text" class="form-control" placeholder="英文名稱" name="name_en" id="exampleFormControlInput2"
          required>
      </div>
      <div class="col-3">
        <label for="exampleFormControlInput3">餐廳的類型呢？</label>
        <input type="text" class="form-control" placeholder="種類" name="category" id="exampleFormControlInput3" required>
      </div>
      <div class="col-3">
        <label for="exampleFormControlInput8">1-5分，給幾分？</label>
        <input type="number" min="1.0" max="5.0" step="0.1" class="form-control" placeholder="1.0 ~ 5.0的評分"
          name="rating" id="exampleFormControlInput8" required>
      </div>
      <div class="col-6">
        <label for="exampleFormControlInput5">有沒有地址呀？</label>
        <input type="text" class="form-control" placeholder="地址" name="location" id="exampleFormControlInput5" required>
      </div>
      <div class="col-6">
        <label for="exampleFormControlInput4">給個餐廳圖片的連結嘛</label>
        <input type="url" class="form-control" placeholder="圖片連結" name="image" id="exampleFormControlInput4" required>
      </div>
      <div class="col-6">
        <label for="exampleFormControlInput7">幫我Google Map一下嘛</label>
        <input type="url" class="form-control" placeholder="Google地圖連結" name="google_map" id="exampleFormControlInput7"
          required>
      </div>
      <div class="col-6">
        <label for="exampleFormControlInput6">那電話呢？</label>
        <input type="tel" class="form-control" placeholder="電話" name="phone" id="exampleFormControlInput6" required>
      </div>
      <div class="col-12">
        <label for="exampleFormControlInput9">介紹一下餐廳嘛</label>
        <input type="text" class="form-control" placeholder="描述" name="description" id="exampleFormControlInput9"
          required>
      </div>
=======
  <form action="/restaurants" method="POST">
    <div class="form-group form-row ">
      <label for="exampleFormControlInput1">這家餐廳叫什麼呢？</label>
      <input type="text" class="form-control" placeholder="中文名稱" name="name" id="exampleFormControlInput1">
    </div>
    <div class="form-group form-row">
      <label for="exampleFormControlInput2">Ｗhat is the name of the restaurant?</label>
      <input type="text" class="form-control" placeholder="英文名稱" name="name_en" id="exampleFormControlInput2">
    </div>
    <div class="form-group form-row">
      <label for="exampleFormControlInput3">是哪種類型的餐廳呢？</label>
      <input type="text" class="form-control" placeholder="種類" name="category" id="exampleFormControlInput3">
    </div>
    <div class="form-group form-row">
      <label for="exampleFormControlInput4">給個餐廳圖片的連結嘛</label>
      <input type="text" class="form-control" placeholder="圖片連結" name="image" id="exampleFormControlInput4">
    </div>
    <div class="form-group form-row">
      <label for="exampleFormControlInput5">有沒有地址呀？</label>
      <input type="text" class="form-control" placeholder="地址" name="location" id="exampleFormControlInput5">
    </div>
    <div class="form-group form-row">
      <label for="exampleFormControlInput6">那電話呢？</label>
      <input type="text" class="form-control" placeholder="電話" name="phone" id="exampleFormControlInput6">
    </div>
    <div class="form-group form-row">
      <label for="exampleFormControlInput7">幫我Google Map一下嘛</label>
      <input type="text" class="form-control" placeholder="Google地圖連結" name="google_map" id="exampleFormControlInput7">
    </div>
    <div class="form-group form-row">
      <label for="exampleFormControlInput8">1-5分，你給他幾分？</label>
      <input type="text" class="form-control" placeholder="評分" name="rating" id="exampleFormControlInput8">
    </div>
    <div class="form-group form-row">
      <label for="exampleFormControlInput9">介紹一下餐廳嘛</label>
      <input type="text" class="form-control" placeholder="描述" name="description" id="exampleFormControlInput9">
>>>>>>> Stashed changes
    </div>
    <button type="submit" class="btn btn-primary">辛苦啦，按我送出！</button>
  </form>
</div>